# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
portfolio-go

# Test binary
*.test

# Output of go coverage tool
*.out

# Go workspace
go.work
go.work.sum

# Dependency cache
vendor/

# Build output
bin/
dist/

# IntelliJ IDEA
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
